.bg-pink{
  background-color: #cf4c85;
}

.bg-purple{
  background-color: #683787;
}

.bg-orange{
  background-color: #d14205;
}

.bg-turquose{
  background-color: #0096aa;
}

.bg-blue{
  background-color: #1a1a8a;
}

.bg-darkgreen{
  background-color: #14782f;
}
